body{
	margin-left: 150px;
	margin-right: 150px;
	background: #222;
}

.logo{
	margin-left: 200;
	margin-right: 200;
}

.f1{
	margin-left: 200;
	margin-right: 200;
}

.tr{
	padding-top: 10;
	padding-bottom: 10;
}

.text{
	text-shadow: 1px 1px 1px #255;
	text-align: center;
}